:root {
    $buttons:"Mouse Memoirs", sans-serif;
    $text:"Open Sans", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #242424;
}

.container {
    display: flex;
    gap: 70px;
    align-items: end;
    width: 850px;
    background: #5E63BA;
    align-items: end;
    padding: 60px 40px;
    border-radius: 10px;

}

    .hangman-box img{
        max-width: 270px;

    }

        .hangman-box h1{
            font-size: 1.45em;
            margin-top: 20px;
            text-align: center;
            text-transform: uppercase;
        }        

  

      .word-display {
        display: flex;
        gap: 10px;
        list-style: none;
        align-items: center;
        justify-content: center;
     
    }

    .word-display .letter {
        width: 28px;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 3px solid #000;
        border-bottom: 40px;
      }

      .word-display .letter .guessed {
        border-color: transparent;
        margin:  -40px 0 35px;

      }

    .keyboard  button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #fff;
        cursor: pointer;
        transition: border-color 0.25s;
        color:#000;
        width: calc(100% / 9 - 5px);
        outline: none;
      }

     .keyboard button:hover {
        background: #FFC745;
      }

      .game-box h4 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 15px;
      }

      .game-box h4 strong {
        font-weight: 600;
      }

      .game-box .guesses-text strong {
            color: #fff;
      }

      .game-box .keyboard {
        display: flex; 
        gap: 5px;
        flex-wrap: wrap;    
        justify-content: center; 
        margin-top: 40px;  
      }

      





  