
.game-modal {
    background-color: rgba(0,0,0,0.6);
    position: fixed;    
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.game-modal .content {
    background: #fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}

.game-modal h4 {
    font-size: 1.53rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-modal p strong {
    color: #5e63ba;
    font-weight: 600;
}

.game-modal button {
    padding: 12px 23px;
}

